/**/lcov.info
/**/*.jl.*.cov
/**/*.jl.*.cov
/**/*.jl.*.mem

/docs/build/

/**/Manifest*.toml
/**/LocalPreferences*.toml

/**/.vscode

/**/*.log
/**/*.sh

/examples/*

!/examples/siliconcarbide
/examples/siliconcarbide/*
!/examples/siliconcarbide/*.tar.gz
!/examples/siliconcarbide/*.toml

/tmp
/**/.notes