/**/*.jl.*.cov
/**/*.jl.*.cov
/**/*.jl.*.mem

/docs/build/

/**/Manifest*.toml
/**/LocalPreferences*.toml

/**/.vscode

/**/*.log
/**/*.sh

/examples/**/*
!/examples/*/*.tar.gz
!/examples/*/*.toml

/tmp